[Unit]
Description=Tomcat
After=network.target

[Service]
Type=forking

User=tomcat
Group=tomcat

Environment="JAVA_HOME=/usr/java/jdk1.8.0_202/bin"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"
Environment="CATALINA_BASE=/usr/bin/tomcat/apache-tomcat-8.5.83"
Environment="CATALINA_HOME=/usr/bin/tomcat/apache-tomcat-8.5.83"
Environment="CATALINA_PID=/usr/bin/tomcat/apache-tomcat-8.5.83/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"

ExecStart=/usr/bin/tomcat/apache-tomcat-8.5.83/startup.sh
ExecStop=/usr/bin/tomcat/apache-tomcat-8.5.83/shutdown.sh

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target